* { box-sizing: border-box; }

html, body {
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;

  font-family: "Roboto";
}

#sidebar {
  max-height: 100vh;
  height: 100vh;
  padding: 5px 0 5px 5px;
  width: 250px;
  max-width: 300px;
  min-width: 250px;
  overflow: auto;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #000000;
}

#sidebar a, #sidebar a:link, #sidebar a:visited, #sidebar a:hover {
  text-decoration: none;
  color: #000000;
}

#sidebar a:hover {
  font-weight: bold;
  font-size: 0.91em;
}

#sidebar .dir > .file, #sidebar .dir > .dir  {
  margin-left: 5px;
}

#contents {
  max-height: 100vh;
  height: 100vh;
  flex-grow: 1;
  margin: 0 8px;
  overflow-y: auto;
}

#info {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
